/* DataTable.module.css */
.table {
  margin-top: 20px;
}

.txLink {
  text-decoration: underline;
}

.disabledTxLink {
  pointer-events: none;
  cursor: default;
  color: #6c757d;
  text-decoration: line-through;
}

.alertContainer {
  margin-top: 20px;
}
