.title {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.secondaryText {
  color: #676767;
  margin-bottom: 0;
  font-weight: 500;
}

.loadingContainer {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}
